.intro {
    background: url(img/batman-banner.jpeg) no-repeat;
    background-color: lightgray;
    background-size: 100% 100%;
    width: auto;
    height: 900px;
}

body {
    font-family: 'Mochiy Pop P One', sans-serif !important;
}